.listClass{
    background-color: #ecebeb;
    border: 2px solid  rgb(201, 20, 20);
    margin: 20px ;
    padding:20px;
    padding-bottom:2px;
    list-style: none;
    background-image: linear-gradient(90deg, pink, white 8%);
    box-shadow: 10px 10px 10px gray;
    display: flex;
    flex-direction: column;
}

.articleImage{
    width:  83%;
}

.articleWords{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title{
    font-size: 25px;
    font-weight: bold;
    color:  rgb(201, 20, 20);
}
.shortText{
    color: #424040;
}

.listAuthor{
    color: #424040;
}

.listDate{
    color: #333333;
    font-weight: bold;
}
